body {
    background-color: #F2DEBA;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #3A8891;
    border-width: 5px;
    width: 95%;
}

img {
    height: 200px;
}

h1 {
    color: #0E5E6F;
}

h2 {
    color: #3A8891;;
}

h3 {
    color: #3A8891;
}