body {
    background-color: #EAEAEA;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #3A8891;
    border-width: 5px;
    width: 5%;
}

img {
    height: 200px;
}

h1 {
    color: #3C4048;
}

h2 {
    color: #00ABB3;;
}

h3 {
    color: #00ABB3;
}